@model Slider

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Slider details
        </div>
        <tr>
            <td>
                <img src="~/img/@Model.Image" alt="Slider Image" style="height:100px; width:100px"/>
            </td>
        </tr>

</div>
</div>

